doctype html
//- create html and body information for all pages
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    header
     h1= header
    block content
