extends layout
//- entry point for page-not-found
block content
    p Sorry! We couldn't find the page you were looking for.
    br
    p
        //- link back to main page
        a(class='button' href='/books') Home